@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.wrapper {
    margin: auto;
}

.link {
    text-decoration: none;
    font-weight: 100;
}



@keyframes bg-color {
    /* from {
        background: transparent;
    }
    to {
        background: #5584ff;
    } */
    0% {
        background: #5584ff00;
        color: #5584ff;
        animation-timing-function: ease-out;
    }
    30% {
        background: #5584ff30;
        color: #9984ff;
        animation-timing-function: ease-in;
    }
    60% {
        background: #5584ff60;
        color: #bb84ff;
        animation-timing-function: ease-out;
    }
    100% {
        background: #5584ffff;
        color: #ffffff;
        animation-timing-function: ease-in;
    }
}

.button {
    background-color: #5584ff;
    /* border: 1px solid #5584ff; */
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: uppercase;
}

/* .button:hover {
    background: #5584ff;
    color: white !important;
    transition-property: background-color color;
    transition-duration: .4s;
} */

.text_white {
    color: white;
}



#dashboard {
    width: 40%;
    margin: 30px auto;
}

#dashboard > img {
    display: inline-block;
    width: 100%;
}

#app {
    width: 100%;
}

#home {
    background-image: url('../img/graph.png');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: center;
    background-color: #0e1a35;
    width: 100%;
    margin-bottom: 200px;
}

#header {
    display: grid;
    grid-template-columns: 3fr 2fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "logo . navigation"
    "content content content";
    margin: auto;
    background: url('../img/grid.png') no-repeat center;
}

#header_logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

#header_nav {
    grid-area: navigation;
}

#header_content {
    grid-area: content;
}


#header_nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    align-items: center;
    text-align: center;
}

#header_nav > a {
    color: white;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}

#header_content_prod {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#header_content_prod .content_prod {
    text-align: center;
    margin-bottom: 20px;
}

#features > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

.icon-feature-img {
    text-align: center;
    margin-bottom: 20px;
}

.icon-feature-text {
    text-align: center;
    font-size: 10px;
    margin: 0px 50px;
}

.icon-feature-button {
    margin-top: 20px;
    text-align: center;
}

.fb {
    color: black;
    padding: 8px 50px;
}

#back {
    background-color: #FAFAFA;
    width: 100%;
    height: 200px;
}


#need {
    background-color: #FAFAFA;
    width: 100%;
}

#need > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#need_text{
    display: flex;
    flex-direction: column;
}

#need_lower {
    display: grid;
    height: 50px;
    grid-template-columns: 50px auto;
}

#drag_text {
    display: grid;
    grid-template-rows: 3fr 2fr 3fr;
}

.feature-text{
    color: grey;
    margin-top: 20px;
}


.need_text {
    font-size: 50px;
}

.need_text_p {
    text-align: left;
    color: grey;
    margin-top: 50px;
    margin-right: 150px;
}

.need_last_text {
    color: #01b8ca;
    margin-top: 75px;
}

.need_last_text2 {
    color: #01b8ca;
    margin-top: 45px;
}

.need_img_o {
    margin-top: 75px;
}

.need_img_o2 {
    margin-top: 35px;
}




#drag {
    background-color: #0e1a35;
    background-image: url('../img/graph.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 50%;
    width: 100%;
    height: 600px;
}

#drag>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#drag_tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#in_progress {
    display: grid;
    grid-template-rows: 2fr 4fr 3fr;
}

#completed {
    display: grid;
    grid-template-rows: 2fr 4fr 3fr;
}

#drag_text {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
}

#drag_icon_position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80px;
    justify-content: space-between;
    height: 30px;
    grid-gap: 20px;
    margin-left: 80px;
}

.progress3 {
    margin-left: 20px;
    margin-top: 30px;
}

.done3 {
    margin-top: 5px;
}

.drag_drop_text {
    text-align: left;
    color: rgb(221, 220, 220);
    margin-left: 80px;
    font-size: 50px;
    position: absolute;
    bottom: 0;
}

.drag_p {
    color: rgb(156, 156, 156);
    margin-left: 80px;
    margin-right: 200px;
    margin-top: 30px;
    font-size: 15px;
}

.drag_comp_in {
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.span_tt {
    color: grey;
}

.drag_ic {
    border-radius: 20px;
    border: 1px solid rgb(221, 220, 220);
    text-align: center;
}

.drag_icon_ff {
    text-decoration: none;
    color: rgb(221, 220, 220);
}

#power>div {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#power {
    background-color: rgb(238, 246, 255);
    width: 100%;
}

.power {
    text-align: center;
}

.power_text_h {
    font-size: 30px;
    margin-top: 70px;
}

.power_text_p {
    color: rgb(129, 128, 128);
    margin: 40px 350px;
}

.power_img {
    text-align: center;
    margin-top: 40px;
}



#price>div {
    display: grid;
    grid-template-rows: 2fr 3fr 1fr 1fr;
}

#price_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 20px;
}

#price_item>div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
}

#col1>div {
    display: flex;
    flex-direction: row;
}

#col2>div {
    display: flex;
    flex-direction: row;
}

#col3>div {
    display: flex;
    flex-direction: row;
}


.price_first_text {
    font-weight: normal;
    font-size: 50px;
}

.price_button {
    background-color: #5584ff;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 35px;
    border-radius: 20px;
}

.price {
    text-align: center;
}

.text_head_price {
    margin-bottom: 25px;
}
.price_col {
    text-align: center;
}

.numder {
    font-size: 50px;
    font-weight: bold;
}

.price_head_text {
    font-size: 20px;
    margin-bottom: 20px;
}

.price_just_text {
    color: grey;
    margin-left: 10px;
}

.rows {
    margin-top: 6px;
}

#footer>div {
    display: grid;
    grid-template-columns: 7fr 3fr 1fr;
    justify-content: space-between;
    background-color: #0e1a35;
    /* width: 100%; */
}

#footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer_social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer_me {
    text-align: center;
}

.footer_menu {
    color: rgb(173, 173, 173);
    text-decoration: none;
}


@media screen and (min-width: 1920.1px) {
    .wrapper {
        width: 1366px;
    }
    #header {
        height: 810px;
        width: 1440px;
    }
}

@media screen and (max-width: 1920px) {
    .wrapper {
        width: 90%;
    }
    #header {
        height: 596px;
        width: 94%;
    }
}

@media screen and (max-width: 1366px) {
    #header {
        height: 754px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 94%;
    }
    #header {
        height: 450px;
        width: 98%;
    }
}

@media screen and (max-width: 800px) {
    #header {
        height: 390px;
    }
}

@media screen and (max-width: 640px) {
    #header {
        height: 320px;
    }
}

@media screen and (max-width: 480px) {
    #header {
        height: 240px;
    }
}

@media screen and (max-width: 320px) {
    #header {
        height: 160px;
    }
}

