* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
}

#app {
    width: 100%;
}

#home {
    background-color: #0e1a35;
    width: 100%;
}

#header{
    display: grid;
    grid-template-columns: 3fr 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "logo . navigation"
        "content content content";
    margin: auto;
}

#header_logo {
    grid-area: logo;
}

#header_nav {
    grid-area: navigation;
}

#header_content {
    grid-area: content;
}

@media screen and (min-width: 1920.1px) {
    .wrapper{
        width: 1366px;
    }
    #header {
        height: 1090px;
        width: 1440px;
    }
}

@media screen and (max-width: 1920px) {
    .wrapper{
        width: 90%;
    }
    #header {
        height: 1060px;
        width: 94%;
    }
}

@media screen and (max-width: 1366px) {
    #header {
        height: 754px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper{
        width: 96%;
    }
    #header {
        height: 565px;
        width: 98%;
    }
}

@media screen and (max-width: 800px) {
    #header {
        height: 442px;
    }
}

@media screen and (max-width: 640px) {
    #header {
        height: 353px;
    }
}

@media screen and (max-width: 480px) {
    #header {
        height: 265px;
    }
}

@media screen and (max-width: 320px) {
    #header {
        height: 177px;
    }
}