@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.wrapper {
    margin: auto;
}

.link {
    text-decoration: none;
    font-weight: 100;
}



@keyframes bg-color {
    /* from {
        background: transparent;
    }
    to {
        background: #5584ff;
    } */
    0% {
        background: #5584ff00;
        color: #5584ff;
        animation-timing-function: ease-out;
    }
    30% {
        background: #5584ff30;
        color: #9984ff;
        animation-timing-function: ease-in;
    }
    60% {
        background: #5584ff60;
        color: #bb84ff;
        animation-timing-function: ease-out;
    }
    100% {
        background: #5584ffff;
        color: #ffffff;
        animation-timing-function: ease-in;
    }
}

.button {
    background-color: #5584ff;
    /* border: 1px solid #5584ff; */
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: uppercase;
}

/* .button:hover {
    background: #5584ff;
    color: white !important;
    transition-property: background-color color;
    transition-duration: .4s;
} */

.text_white {
    color: white;
}



#dashboard {
    width: 40%;
    margin: 30px auto;
}

#dashboard > img {
    display: inline-block;
    width: 100%;
}

#app {
    width: 100%;
}

#home {
    background-image: url('../img/graph.png');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: center;
    background-color: #0e1a35;
    width: 100%;
    margin-bottom: 200px;
}

#header {
    display: grid;
    grid-template-columns: 3fr 2fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "logo . navigation"
    "content content content";
    margin: auto;
    background: url('../img/grid.png') no-repeat center;
}

#header_logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

#header_nav {
    grid-area: navigation;
}

#header_content {
    grid-area: content;
}


#header_nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    align-items: center;
    text-align: center;
}

#header_nav > a {
    color: white;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}

#header_content_prod {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#header_content_prod .content_prod {
    text-align: center;
    margin-bottom: 20px;
}

#features > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

.icon-feature-img {
    text-align: center;
    margin-bottom: 20px;
}

.icon-feature-text {
    text-align: center;
    font-size: 10px;
    margin: 0px 100px;
}

.icon-feature-button {
    margin-top: 20px;
    text-align: center;
}

.fb {
    color: black;
    padding: 8px 50px;
}

#need {
    background-color: #FAFAFA;
    width: 100%;
}

#need > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.need_img {
    margin-top: 200px;
}

.need_text {
    margin-top: 230px;
    text-align: center;
    font-size: 30px;
}


@media screen and (min-width: 1920.1px) {
    .wrapper {
        width: 1366px;
    }
    #header {
        height: 810px;
        width: 1440px;
    }
}

@media screen and (max-width: 1920px) {
    .wrapper {
        width: 90%;
    }
    #header {
        height: 596px;
        width: 94%;
    }
}

@media screen and (max-width: 1366px) {
    #header {
        height: 754px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 94%;
    }
    #header {
        height: 450px;
        width: 98%;
    }
}

@media screen and (max-width: 800px) {
    #header {
        height: 390px;
    }
}

@media screen and (max-width: 640px) {
    #header {
        height: 320px;
    }
}

@media screen and (max-width: 480px) {
    #header {
        height: 240px;
    }
}

@media screen and (max-width: 320px) {
    #header {
        height: 160px;
    }
}